*{
  text-align:center;
  font-family:Cambria;
  color:aliceblue;
}

body {
  background-image: url("../Images/home_bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* ------- Login - Signup Pages ------- */

.container {
  height: 100vh;
}

.form-wrapper {
  width: 300px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.form-wrapper * {
  color: black;
  text-align: left;
}

.form-wrapper h3 {
  margin-top: 0;
  text-align: center;
}

.form-wrapper form {
  margin-top: 20px;
}

.form-wrapper label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-wrapper .log-btn , .sign-btn {
  text-align: center;
}

.form-wrapper input[type="email"],
.form-wrapper input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-wrapper button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.form-wrapper button[type="submit"]:hover {
  background-color: #45a049;
}

.form-wrapper p {
  text-align: center;
  margin-top: 10px;
}

.form-wrapper p span {
  margin-left: 5px;
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

/* ------- Details Page ------- */

/* Style the form container */
.form-container {
  max-width: 400px;
  margin: 0 auto;
}

/* Style form labels */
label {
  display: block;
  margin-bottom: 10px;
  font-size:large;
}

/* Style form input fields */

.form-container input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 15px;
  caret-color: black; 
  animation: blink-caret 1s infinite;
  color:black;
}
.auto-resizable {
  resize: none; /* Disable manual resizing */
  overflow: hidden; /* Hide any overflow */
}

/*
input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #45a049;
}
*/

@keyframes blink-caret {
  from, to {
    border-color: transparent; /* Make the caret transparent */
  }

  50% {
    border-color: blue; /* Make the caret visible */
  }
}
/* Style form submit button */
button{
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Style form submit button on hover */
button:hover {
  background-color: #45a049;
}

#span1{
  font-size:large;
}

/* ------- Upload Page ------- */

.upload input {
  color: black;
}

.preview-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-top: 10px;
}
#preview-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.preview-image-container {
  margin: 5px;
  position: relative;
}

.navigation-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  border: none;
  color: #000;
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
}

.prev-btn {
  left: 0;
}

.next-btn {
  right: 0;
}